<!-- Wrapper-->
<div id="wrapper">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">

                <div class="col-lg-3">
                    <div class="widget style1 red-bg">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <i class="fa fa-name fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h1> Name </h1>

                                <span> {{myWedding.name}} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="widget style1 navy-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-map fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h1> Location </h1>
                                <small> {{myWedding.location.address.city | lowercase}} </small><br/>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 lazur-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h1> Date </h1>
                                <small> {{myWedding.date}} </small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widget style1 yellow-bg">
                        <div class="row">
                            <div class="col-xs-4">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <h1> Guests </h1>
                                <small>{{myWedding.guests.length}}</small>
                                <button class="btn btn-info btn-circle btn-xs" type="button" ng-click="controller.openGuestModal()"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Attending</h5>
                            <h2>{{attending()}}</h2>
                            <div class="progress progress-mini">
                                <div  ng-style="{'width':attendingPercent()+'%'}" class="progress-bar"></div>
                            </div>

<!--                            <div class="m-t-sm small">Server down since 4:32 pm.</div>-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Not Attending</h5>
                            <h2>{{notAttending()}}</h2>
                            <div class="progress progress-mini">
                                <div ng-style="{'width':notAttendingPercent()+'%'}" class="progress-bar progress-bar-danger"></div>
                            </div>

<!--                            <div class="m-t-sm small">Server down since 4:32 pm.</div>-->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h5>Pending</h5>
                            <h2>{{pending()}}</h2>
                            <div class="progress progress-mini">
                                <div ng-style="{'width':pendingPercent()+'%'}" class="progress-bar progress-bar-warning"></div>
                            </div>

                            <!--<div class="m-t-sm small">Server down since 4:32 pm.</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page wrapper-->

</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-8">
            <div class="ibox">
                <div class="ibox-content">
                    <h2>Guest List</h2>

                    <div class="input-group">
                        <input type="text" placeholder="Search guest" class="input form-control" ng-model="searchKeyword.name">
                        <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                    </div>

                    <div class="clients-list">
                        <div class="full-height-scroll" full-scroll>
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <tbody>
                                    <tr ng-repeat="guest in myWedding.guests | filter: searchKeyword | orderBy:'name'">
                                        <td><a ng-click="controller.currentGuest(guest)" class="client-link"> {{guest.name|lowercase}}</a></td>
                                        <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                        <td> {{guest.email}}</td>
                                        <td class="client-status"><span ng-class="guest.rsvp == 'Attending' ? 'label label-primary' : (guest.rsvp == 'Not Attending' ? 'label label-danger' : 'label label-warning')">{{guest.rsvp}}</span></td>
                                        <td><a ng-click="controller.openGuestEditModal(guest)"><i class="fa fa-edit"> </i></a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <div class="ibox ">
                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>{{controller.viewGuest.name}}</h2>

<!--                                    <div class="m-b-sm">
                                        <img alt="image" class="img-circle" src="img/a2.jpg" style="width: 62px">
                                    </div>-->
                                </div>
<!--                                <div class="col-lg-8">
                                    <strong>
                                        About me
                                    </strong>

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                            class="fa fa-envelope"></i> Send Message
                                    </button>
                                </div>-->
                            </div>


                            <div class="client-detail">
                                <div class="full-height-scroll" full-scroll>

                                    <strong>Information</strong>

                                    <ul class="list-group clear-list">
                                        <li class="list-group-item fist-item">
                                            Address<br/>
                                            <span class="pull-right"> {{controller.viewGuest.address.street}},{{controller.viewGuest.address.city}},{{controller.viewGuest.address.state}},{{controller.viewGuest.address.zipCode}} </span>
                                        </li>
                                        <li class="list-group-item">
                                            Telephone<br/>
                                            <span class="pull-right"> {{controller.viewGuest.telephone}} </span>
                                        </li>
                                        <li class="list-group-item">
                                            RSVP Status<br/>
                                            <span class="pull-right"> {{controller.viewGuest.rsvp}} </span>
                                        </li>

                                    </ul>
                                    <strong>Notes</strong>
                                    <p>
                                        {{controller.viewGuest.notes}}
                                    </p>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End wrapper-->